{% for message in messages %}
    <div class="container-fluid p-0">
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert" id="alert-{{ forloop.counter }}">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            {{ message }}
        </div>
    </div>

    <script>
        setTimeout(function() {
            var closeButton = document.querySelector('#alert-{{ forloop.counter }} .btn-close');
            if (closeButton) {
                closeButton.click();
            }
        }, 15000);
    </script>
{% endfor %}
